@import url('https://fonts.google.com/specimen/Manrope');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(210, 46%, 95%);
    font-family: "manrope", Arial, Helvetica, sans-serif;
}

main {
    padding: 20px;
}

.wrapper {
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    max-width: 430px;
    border-radius: 20px;
    overflow: hidden;

}


.wrapper .img-div img {
    height: auto;
    width: 100%;
}

.wrapper .text-div {
    background-color: white;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(1, 1fr);
    padding: 40px 40px 10px 40px;
}

.wrapper .text-div h3 {
    font-family: "manrope", sans-serif;
    font-weight: 600;
    font-size: 19px;
    color: hsl(217, 19%, 35%);
    line-height: 1.5em;
}

.wrapper .text-div p {
    font-size: 16px;
    font-weight: 500;
    color: hsl(217, 19%, 35%);
    font-family: "manrope", sans-serif;
    line-height: 1.5em;
}

.wrapper .details-text {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;

}

.wrapper .details-text img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.image-div {
    display: flex;

}

.details-text .name-div {

    padding: 0 20px;
}

.details-text .name-div p {
    font-weight: 600;
    color: hsl(217, 19%, 35%);


}

.details-text span {
    font-size: 13px;
    font-weight: lighter;
    letter-spacing: 3px;
    color: hsl(210, 46%, 95%);
}

.details-text .share {
    background-color: hsl(210, 46%, 95%);
    text-align: center;
    border-radius: 50%;
    margin-right: 10px;
    height: 40px;
    width: 40px;
    margin-top: 5px;
    padding-top: 5px;
    cursor: pointer;
}

.details-text .share img {
    height: 18px;
    width: 25px;
    cursor: pointer;

}

.share-active {
    background-color: hsl(217, 19%, 35%);
    color: white;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: none;
}

.share-active p {
    letter-spacing: 6px;
    font-weight: 600;
    color: hsl(214, 17%, 51%);

}

.share-active .share-socials {
    display: flex;

}


.share-active .share-socials i {
    padding-left: 20px;
}



.share-active .share1 {
    background-color: hsl(214, 17%, 51%);
    text-align: center;
    border-radius: 50%;
    margin-right: 40px;
    margin-left: 10px;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.share-active .share1 i {
    color: hsl(210, 46%, 95%);
    font-size: 20px;


}

.attribution {
    text-align: center;
}